{% extends 'base.html' %}
{% load static %}

{% block css %}

<title>About us - St Royal Stoi</title>
{% endblock css %}

{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/bread.svg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'core:home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread">About Us</h1>
        </div>
      </div>
    </div>
  </section>
     

   <!-- About Section Begin -->
   <section class="about spad pt-5">
    <div class="container">
        <div class="about__content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <h5>Our Specialization</h5>
                        <h2>Welcome To St Royal</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about__text">
                        <p>Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic
                            grids.</p>
                        <p>I am convinced the only way to make money online is to have a consistent Advertising
                            plan. A plan you are willing to work hard on and commit to for a selected period of
                            time. When making this plan, you need to do two things.</p>
                    </div>
                </div>
            </div>
        </div>
 
    </div>
</section>
  <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
          <div class="row d-flex no-gutters">
              <div class="col-md-6 d-flex">
                  <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url();">
               <img src="{% static 'img/logo.png' %}" alt="">
                  </div>
              </div>
              <div class="col-md-6 pl-md-5">
                  <div class="row justify-content-start py-5">
                <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                    <span class="subheading">Welcome to St Royal</span>
                  <h2 class="mb-4">We create and turn into reality</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  <div class="tabulation-2 mt-4">
                                  <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                    <li class="nav-item mb-md-0 mb-2">
                                      <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Mission</a>
                                    </li>
                                    <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                      <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Vision</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Value</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content bg-light rounded mt-2">
                                    <div class="tab-pane container p-0 active" id="home1">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home2">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home3">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                  </div>
                              </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </section>


<div class="our-services section-padding30b pt-5">
  <div class="container">
      <div class="row justify-content-sm-center">
          <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-4">
                  <span>Servicees We Offer</span>
                  <h2>Our Best Services</h2>
              </div> 
          </div>
      </div>
      <div class="row">
          <div class=" col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                  <div class="services-ion">
                      <span class="flaticon-restaurant"></span>
                  </div>
                  <div class="services-cap">
                      <h5><a href="#">Best Bulbs</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
              </div>
          </div>
          <div class=" col-lg-4 col-md-6 col-sm-6">
              <div class="single-services active text-center mb-30">
                  <div class="services-ion">
                      <span class="flaticon-tools-and-utensils-1"></span>
                  </div>
                  <div class="services-cap">
                      <h5><a href="#">Quality Products</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
              </div>
          </div>
          <div class=" col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                  <div class="services-ion">
                      <span class="flaticon-restaurant"></span>
                  </div>
                  <div class="services-cap">
                      <h5><a href="#">Perfect Connection</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Our Services End -->



  <!-- Chooseus Section End -->
    <!--::subscribe_area part end::-->
    {% include 'partners.html' %}

    
    
{% endblock content %}