{% load static %}

    <section class="ftco-section mt-3 ftco-no-pt ftco-no-pb">
    	<div class="container">
   
    		<div class="row no-gutters">
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer"> <img src=" {% static 'img/icon/work.svg' %}" alt="st royal stoi services"></span>
	    				</div>
	    				<div class="text">
	      				<h3>Expert &amp; Professional</h3>
	      				<p class="mb-0">We work with over 30 professionals and experts that delivers outstanding results</p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    							<img src=" {% static 'img/icon/iso.svg' %}" alt="st royal stoi services">
	    				</div>

	    				<div class="text">
	      				<h3>High Quality Work</h3>
	      				<p class="mb-0">We put in our best everyday by achieving our expectations.</p>
	      			</div>
	      		</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer-2"><img src=" {% static 'img/icon/hand.svg' %}" alt="st royal stoi services"></span>
	    				</div>
	    				<div class="text">
	      				<h3>24/7 Help Support</h3>
	      				<p class="mb-0">
Gain access to our services and support team anytime.
</p>
	      			</div>
	      		</div>
    			</div>
    		</div>
    	</div>
    </section>