{% load static %}

    <section class="ftco-section mt-3 ftco-no-pt ftco-no-pb">
    	<div class="container">
   
    		<div class="row no-gutters">
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer"></span>
	    				</div>
	    				<div class="text">
	      				<h3>Expert &amp; Professional</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer-1"></span>
	    				</div>
	    				<div class="text">
	      				<h3>High Quality Work</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	      			</div>
	      		</div>
    			</div>
    			<div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
    				<div class="py-3 d-flex">
	    				<div class="icon">
	    					<span class="flaticon-engineer-2"></span>
	    				</div>
	    				<div class="text">
	      				<h3>24/7 Help Support</h3>
	      				<p class="mb-0">Separated they live in. A small river named Duden flows</p>
	      			</div>
	      		</div>
    			</div>
    		</div>
    	</div>
    </section>