{% load static %}

    <!-- subscribe_area part start-->
    <section class="client_logo padding_top pb-3 mb-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mx-auto text-center mb-3"><h2>Our <span class="text-red">Partners</span> </h2></div>
             
            </div>

            <div class="row mx-auto d-flex align-items-center justify-content-center">
                <div class="col-sm-2 single_client_logo mt-1">   <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt=""></div>
                <div class="col-sm-2 single_client_logo mt-1">   <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt=""></div>
                <div class="col-sm-2 single_client_logo mt-1">   <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt=""></div>
                <div class="col-sm-2 single_client_logo mt-1">   <img src="{% static 'img/client_logo/client_logo_4.png' %}" alt=""></div>
                <div class="col-sm-2 single_client_logo mt-3">   <img src="{% static 'img/client_logo/client_logo_5.png' %}" alt=""></div>
            
            </div>
        </div>
    </section>