{% load static %}


   <!-- ======= Cta Section ======= -->
   <section id="cta" class="cta">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3> <span class="text-red">Your choice of design</span> is not restricted. </h3>
          <p> We don't stress our customers, hence we make sure our materials are very convenient, reliable and efficient.
  <br>We have more than enough designs for you to choose from.
            </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class=" btn_3" href="{% url 'core:contact' %}">get A Quote</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->