{% load static %}

 <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex services flex-column  align-items-center p-4 py-md-5 ftco-animate">
          <div class="media block-6 d-flex  flex-column align-items-center d-block text-center pt-md-4">
            <div class="icon d-flex flex-column  justify-content-center align-items-center">
              <span class="flaticon-hook"> <img src=" {% static 'img/icon/truck.svg' %}" alt="st royal stoi services"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Fast Shipping</h3>
              <p>No delay whatsoever.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-4 d-flex services flex-column  align-items-center p-4 py-md-5 ftco-animate">
          <div class="media block-6  d-flex flex-column  d-block text-center pt-md-4">
            <div class="icon d-flex flex-column  justify-content-center align-items-center">
              <span class="flaticon-skyline"> <img src=" {% static 'img/icon/wallet.svg' %}" alt="st royal stoi services"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Payment Secure</h3>
              <p>100% secure payment.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-4 d-flex services   flex-column  align-items-center p-4 py-md-5 ftco-animate">
          <div class="media block-6  d-flex flex-column  text-center pt-md-4">
            <div class="icon d-flex flex-column  justify-content-center align-items-center">
              <span class="flaticon-stairs"> <img src=" {% static 'img/icon/assistant.svg' %}" alt="st royal stoi services"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">24/7 Help Support</h3>
              <p>Dedicated support.</p>
            </div>
          </div>      
        </div>
   
      </div>
 
    </div>
  </section>
